/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

body {
  background-color: black;
  color: white;
}

p {
  text-align: center;
  padding-left:  20px;
  padding-right:  20px;
  padding-top:  20px;
  padding-bottom:  20px;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.my_logo {
  height : 50px;
  width: auto;
}

#icone_menu {
  padding-right: 20px;
}

#pop_mail #pop_clavier #pop_social #pop_autre{
  background-color: white;
  visibility: hidden;
}

.logo{
 width: 40px;
 height: 40px;
 margin-bottom: 0px;
 margin-right: 5px;
 margin-top: 15px;
}

li{
  margin-left: 15px;
}

#google_translate_element{
  margin-top: 15px;
  line-height: 10px;
}

#div_portfolio{
  text-align: left;
}
